.mainButton {
    border-radius: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 23px;
    padding: 0.4em 0.8em;
    text-decoration: none;
    width: 100%;
    max-width: 165px;
    height: 32px;
    color: rgba(0, 0, 0, 0.9);
    background: rgba(241, 234, 234, 0.05);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    transition: box-shadow 500ms ease-in-out, color 500ms ease-in-out;
}

.mainButton:hover {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(241, 234, 234, 0.05);
    color: #FFFFFF;
    background: rgba(48, 87, 146, 1);
    font-weight: 700;
}