.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 470px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #FCFCFC;
  box-sizing: border-box;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-box p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 30px;
  color: rgba(0, 0, 0, 0.55);
}

.login-box p span {
  color: #166CE4;
}

.login-box_info {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 290px;
  padding: 10px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.44);
  outline:none;
}

.username-input {
  
}

.login-box .user-box label {
  position: absolute;
  top: -25px;
  left: 0;
  padding: 10px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  pointer-events: none;
  transition: .5s;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.enterButtonForm {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  text-decoration: none;
  width: 430px;
  height: 46px;
  background: rgba(0, 0, 0, 0.05);
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  transition: box-shadow 1000ms ease-in-out, color 1000ms ease-in-out;
}

.enterButtonForm:hover {
  color: #FFFFFF;
  background: rgba(48, 87, 146, 1);
}

.noPassword {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}