/*START OF BLUELINE*/
.blueLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FCFCFC;
    width: 100%;
    margin: 0 auto;
    line-height: 30px;
    font-size: 13px;
    position: relative;
}

.blueLine .telnumber {
    padding-left: 40px;
}

.blueLine .telnumber a {
    text-decoration: none;
    color: #1A1A1A;
}

.blueLine .pandoraLogo {
    position: absolute;
	left: 0;
	right: 0;
	margin: auto;
    margin-top: -13px;
    /* margin-left: auto;
    margin-right: auto; */

}

.blueLine .userArea {
    display: flex;
    padding-top: 5px;
    padding-right: 40px;
}

.blueLine .userArea span {
    color: #1A1A1A;
    padding-right: 10px;
}

.blueLine .userArea .stationLogo {
    padding-left: 15px;
    filter: hue-rotate();
}

/*END OF BLUELINE*/